<template name="home">

  <div class="masthead outage">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>CURRENT STATUS</h1>
          {{#with lastIncident}}
            <p class="status">{{status}}</p>
            <p class="message">{{message}}</p>
            <p class="time">REFRESHED 1 MINUTE AGO</p>
          {{/with}}
        </div>
      </div>
    </div>
  </div>
  <div class="components outage">
    <ul>
      <li>DEPLOYMENTS</li>
      <li class="selected">BALANCERS</li>
      <li>API</li>
      <li>DATABASE</li>
      <li class="selected">HOST</li>
    </ul>
  </div>

  <div class="incidents container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>PAST INCIDENTS</h2>

        {{#each pastIncidents}}
        <div class="day">
          <h3>{{[0]}}</h3>
          {{#each [1]}}
            <p>
              <span class="status-icon {{status}}"></span> {{message}} <span>{{timeStamp createdAt}}</span>
            </p>
            <p>
              {{service}}
            </p>
          {{else}}
            <p class="text-center">No incidents reported.</p>
          {{/each}}
        </div>
        {{/each}}

      </div>
    </div>
  </div>

</template>
