@import 'variables';
@import 'mixins';

/* ===============================
    GLOBAL STYLES
   =============================== */

body {
  background: #262626 url('/img/mod_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #F0F0F1;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.list-group-item {
  background: none;
  border: 1px solid #F0F0F1;
}

.page {
  margin-top: 50px;
}

.btn-blank {
  border: 1px solid #F0F0F1;
  background: none;
  color: #fff;

  &:hover {
    background: rgba(255,255,255,0.05);
    color: #fff;
  }
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: rgba(255,255,255,0.05);
}

// STATUSES
.operational {
  background: @colorGreen;
}

.outage {
  background: @colorRed;
}

.maintenance {
  background: @colorYellow;
}

.degradedPerformance {
  background: @colorYellow;
}

.partialOutage {
  background: @colorYellow;
}

.majorOutage {
  background: @colorRed;
}


// HEADER

header {
  text-align: center;

  .logo {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0;
    width: 193px;
    height: 52px;
    float: none;
  }
}


// LOGIN
.entry {
  color: #F0F0F1;
  background: none;
}


// MASTHEAD
.masthead {
  text-align: center;
  margin-top: 30px;

  h1 {
    color: rgba(0,0,0,0.4);
    letter-spacing: 1px;
    font-size: 40px;
    margin-top: 40px;
  }

  .status {
    font-size: 30px;
    color: rgba(255,255,255,0.6);
    text-transform: uppercase;
  }

  .message {
    font-size: 44px;
  }

  .time {
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    margin-bottom: 40px;
    font-weight: 600;
  }
}

// COMPONENT BAR
.components {
  background: #555555;
  text-align: center;

  ul {
    padding-left: 0px;
    display: block;
    margin: auto;

    li {
      list-style: none;
      display: inline-block;
      color: @colorGreen;
      padding: 20px 40px;
    }
  }

  &.operational {
    background: #318473;
  }

  &.outage {
    .selected {
      background: #686868;
      color: rgba(255,255,255,0.5);
    }
  }

  &.maintenance {
    .selected {
      background: #cd9800;
      color: rgba(255,255,255,0.5);
    }
  }
}


// INCIDENTS

.incidents {
  h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    color: #636363;
  }
}


// CURRENT STATUS
.status-old {
  margin-top: 20px;
  margin-bottom: 40px;

  @media @md {
    margin-top: 50px;
  }

  .main {
    padding: 30px 15px;

    .status-icon {
      position: absolute;
      margin-top: 10px;
      height: 30px;
      width: 30px;
      border-radius: 40px;
    }

    .current-status {
      margin-left: 45px;

      h4 {
        font-size: 30px;
      }

      p {
        margin-bottom: 0px;
      }

      span {
        font-size: 14px;
        color: #ccc;
      }
    }
  }

  span {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    position: relative;
    top: 4px;
  }
}

// HISTORY {
.day {
  margin-bottom: 40px;

  h3 {
    padding-bottom: 4px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }

  span {
    color: #ccc;
  }

  span.status-icon {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    position: relative;
    margin-right: 5px;
  }
}



// MISCELLANEOUS

.browser-warning {
  background: #BD3535;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;

   a {
    color: #fff;
    text-decoration: underline;
  }
}
