/* ===============================
    LESS VARIABLES
   =============================== */

// RESPONSIVE
@xs: ~"(max-width: 767px)";
@sm: ~"(min-width: 768px)";
@md: ~"(min-width: 992px)";
@lg: ~"(min-width: 1200px)";

// COLORS
@colorGreen: #4fc1a7;
@colorYellow: #ffbc00;
@colorOrange: #F7850B;
@colorRed: #d73052;